@use "variables" as *;
.awards {
  margin-top: 200px;
  &__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    .awards__aside-top {
      padding: 10px 20px;
      border: 2px solid $grey-15;
      border-radius: 8px;
      background-color: $absolute-white;
      font-size: 18px;
      font-weight: 500;
    }
    .awards__aside-title {
      font-size: 58px;
      font-weight: 700;
      margin-top: 20px;
      font-family: "Raleway", sans-serif;
    }
    .awards__aside-text {
      font-size: 20px;
      font-weight: 500;
      max-width: 1200px;
      text-align: center;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 135px;
    .awards__card {
      padding: 80px 50px 50px 50px;
      background-color: $absolute-white;
      border: 2px solid $grey-15;
      border-radius: 12px;
      box-shadow: 6px 6px 0 2px #1E1E1E;
      position: relative;
      width: 100%;
      .awards__card-icon {
        position: absolute;
        padding: 20px;
        background-color: $orange-90;
        border-radius: 12px;
        border: 2px solid $grey-15;
        top: -35px;
        left: 30px;
      }
      .awards__card-title {
        font-size: 28px;
        font-weight: 700;
        font-family: "Raleway", sans-serif;
      }
      .awards__card-text {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        color: $grey-30;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    .awards__bottom-text {
      font-size: 22px;
      font-weight: 700;
      color: $grey-10;
    }
    
    .awards__bottom-buttons {
      .awards__bottom-button {
        .awards__bottom-icon {
          padding: 14px;
          background-color: $absolute-white;
          border: 2px solid $grey-15;
          border-radius: 8px;
        }
      }
    }
  }
}