@use "variables" as *;
.footer {
  background-color: $absolute-white;
  border-radius: 12px;
  border: 2px solid $grey-15;
  padding: 100px 113px 40px;
  box-shadow: 6px 6px 0px 2px #1E1E1E;
  margin-top: 200px;
  .footer__1lvl {
    display: flex;
    gap: 80px;
    .footer__info {
      .footer__info-logo {
        margin-bottom: 20px;
      }
      .footer__info-text {
        max-width: 520px;
        color: $grey-30;
        margin-bottom: 50px;
      }
      .footer__info-item {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .footer__item-icon {
        padding: 8px;
        background-color: $orange-97;
        border-radius: 6px;
        border: 2px solid $grey-15; 
      }
    }
  }
  .footer__lists {
    display: flex;
    gap: 30px;
    .footer__lists-item {
      width: 230px;
      .footer__list {
        display: flex;
        flex-direction: column;
        .footer__list-title {
          margin-bottom: 24px;
          font-weight: 600;
        }
        .footer__item {
          margin-bottom: 14px;
          &:last-child {
            margin: 0;
          }
          .footer__item-nav {
            color: $grey-20;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .footer2lvl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 30px 0;
    border-top: 2px solid $grey-15;
    border-bottom: 2px solid $grey-15;
    .footer2lvl__documents {
      display: flex;

      .footer2lvl__document {
        padding: 0 16px;
        border-right: 2px solid $grey-15;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border: none;
        }
        .footer2lvl__document-link {
          font-size: 18px;
        }
      }
    }
    .footer2lvl__social-list {
      display: flex;
      gap: 14px;
      .footer2lvl__social-item {
        .footer2lvl__social-link {
          .footer2lvl__social-icon {
            padding: 16px;
            background-color: $orange-90;
            border: 2px solid $grey-15;
            border-radius: 8px;
          }
        }
      }
    }
  }
  .footer2lvl__copyright-text {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: $grey-40;
  }
}

