<section id="actitvities" class="activities container-1590">
  <aside class="activities__aside">
    <p class="activities__aside-top">Our Features</p>
    <h2 class="activities__aside-title">Extracurricular Activities</h2>
    <p class="activities__aside-text">At Little Learners Academy, we believe in nurturing well-rounded individuals. Our extracurricular activities offer a diverse range of experiences that complement our academic curriculum and encourage students to explore their interests and passions. We offer a wide array of extracurricular activities, including</p>
  </aside>
  <ul class="activities__cards">
    <li class="activities__card">
      <img src="assets/images/Icon-25.svg" alt="" class="activities__card-icon">
      <p class="activities__card-title">Sports and Athletics</p>
      <p class="activities__card-text">Students can participate in various sports, from soccer and basketball to gymnastics and yoga. Sports help promote teamwork, physical fitness, and a sense of discipline.</p>
    </li>
    <li class="activities__card">
      <img src="assets/images/Icon-26.svg" alt="" class="activities__card-icon">
      <p class="activities__card-title">Art and Creativity</p>
      <p class="activities__card-text">Our art classes and creative workshops provide a platform for students to express their creativity through painting, drawing, and other artistic forms.</p>
    </li>
    <li class="activities__card">
      <img src="assets/images/Icon-27.svg" alt="" class="activities__card-icon">
      <p class="activities__card-title">Music and Performing Arts</p>
      <p class="activities__card-text">Students can discover their musical talents through singing, playing musical instruments, and participating in drama and theater performances.</p>
    </li>
    <li class="activities__card">
      <img src="assets/images/Icon-28.svg" alt="" class="activities__card-icon">
      <p class="activities__card-title">Language Clubs</p>
      <p class="activities__card-text">Language clubs offer an opportunity for students to immerse themselves in different languages and cultures, fostering global awareness.</p>
    </li>
    <li class="activities__card">
      <img src="assets/images/Icon-29.svg" alt="" class="activities__card-icon">
      <p class="activities__card-title">Science Club</p>
      <p class="activities__card-text">The science club allows young scientists to explore the wonders of science through fun experiments and hands-on learning.</p>
    </li>
    <li class="activities__card">
      <img src="assets/images/Icon-30.svg" alt="" class="activities__card-icon">
      <p class="activities__card-title">Cooking and Culinary Arts</p>
      <p class="activities__card-text">Cooking classes introduce students to the joys of preparing and tasting delicious and healthy meals.</p>
    </li>
  </ul>
</section>