<section id="awards" class="awards container-1590">
	<aside class="awards__aside">
		<p class="awards__aside-top">Our Achievements</p>
		<h2 class="awards__aside-title">Our Awards and Recognitions</h2>
		<p class="awards__aside-text">
			Little Learners Academy takes pride in our commitment to delivering high-quality education and outstanding student
			experiences. We are honored to have received various awards and recognitions for our dedication to early childhood
			education. These accolades reflect our team's relentless efforts in creating an exceptional learning environment
			for our students.
		</p>
	</aside>
	<ul class="awards__cards">
		<li class="awards__card">
			<img src="assets/images/Icon-14.svg" alt="" class="awards__card-icon" />
			<h3 class="awards__card-title">Outstanding Early Childhood Education Awar</h3>
			<p class="awards__card-text">
				Presented by the National Association for the Education of Young Children (NAEYC) in recognition of Little
				Learners Academy's commitment to delivering exceptional early childhood education and fostering a nurturing
				learning environment.
			</p>
		</li>
		<li class="awards__card">
			<img src="assets/images/Icon-15.svg" alt="" class="awards__card-icon" />
			<h3 class="awards__card-title">Innovative STEAM Education Award</h3>
			<p class="awards__card-text">
				Awarded by the Education Excellence Association for our pioneering efforts in introducing innovative STEAM
				(Science, Technology, Engineering, Arts, and Mathematics) programs that ignite creativity and critical thinking
				in young learners.
			</p>
		</li>
		<li class="awards__card">
			<img src="assets/images/Icon-16.svg" alt="" class="awards__card-icon" />
			<h3 class="awards__card-title">Environmental Stewardship Award</h3>
			<p class="awards__card-text">
				Received from the Green Earth Society for our dedication to environmental education, sustainable practices, and
				fostering a love for nature in our students.
			</p>
		</li>
	</ul>
	<div class="awards__bottom">
		<p class="awards__bottom-text">8 More Awards</p>
		<div class="awards__bottom-buttons">
			<button class="awards__bottom-button"><img src="../assets/images/Icon-17.svg" alt="" class="awards__bottom-icon" /></button>
			<button class="awards__bottom-button"><img src="../assets/images/Icon-18.svg" alt="" class="awards__bottom-icon" /></button>
		</div>
	</div>
</section>
