<section id="benefits" class="benefits container-1590">
	<aside class="benefits__aside-top">
		<p class="benefits__aside">Children Deserve Bright Future</p>
		<h2 class="benefits__title">Our Benefits</h2>
		<p class="benefits__subtitle">
			With a dedicated team of experienced educators, state-of-the-art facilities, and a comprehensive curriculum, we
			aim to lay a strong foundation for your child's future.
		</p>
	</aside>
	<ul class="benefits__cards">
		<li class="benefits__card">
			<img src="assets/images/Icon-2.svg" alt="" class="benefits__card-icon" />
			<p class="benefits__card-title">Holistic Learning Approach</p>
			<p class="benefits__card-text">
				Our curriculum focuses on nurturing cognitive, social, emotional, and physical development, ensuring a
				well-rounded education.
			</p>
		</li>
		<li class="benefits__card">
			<img src="assets/images/Icon-1.svg" alt="" class="benefits__card-icon" />
			<p class="benefits__card-title">Experienced Educators</p>
			<p class="benefits__card-text">
				Our passionate and qualified teachers create a supportive and stimulating learning environment.
			</p>
		</li>
		<li class="benefits__card">
			<img src="assets/images/Icon.svg" alt="" class="benefits__card-icon" />
			<p class="benefits__card-title">Nurturing Environment</p>
			<p class="benefits__card-text">We prioritize safety and provide a warm and caring atmosphere for every child.</p>
		</li>
		<li class="benefits__card">
			<img src="assets/images/Icon-3.svg" alt="" class="benefits__card-icon" />
			<p class="benefits__card-title">Play-Based Learning</p>
			<p class="benefits__card-text">
				We believe in the power of play to foster creativity, problem-solving skills, and imagination.
			</p>
		</li>
		<li class="benefits__card">
			<img src="assets/images/Icon-4.svg" alt="" class="benefits__card-icon" />
			<p class="benefits__card-title">Individualized Attention</p>
			<p class="benefits__card-text">
				Our small class sizes enable personalized attention, catering to each child's unique needs.
			</p>
		</li>
		<li class="benefits__card">
			<img src="assets/images/Icon-5.svg" alt="" class="benefits__card-icon" />
			<p class="benefits__card-title">Parent Involvement</p>
			<p class="benefits__card-text">
				We foster a strong parent-school partnership to ensure seamless communication and collaboration.
			</p>
		</li>
	</ul>
</section>
