<section id="connect" class="connect container-1820">
  <img src="assets/images/Abstract Design.png" alt="" class="connect__image">
  <div class="connect__left">
    <p class="connect__left-top">Contact Us</p>
    <h2 class="connect__left-title">Feel Free To Connect With Us</h2>
  </div>
  <div class="connect__right">
    <p class="connect__right-text">We value open communication and are eager to assist you with any inquiries. Feel free to reach out to us through any of the following contact methods</p>
    <ul class="connect__right-contacts">
      <li class="connect__right-contact">
        <img src="assets/images/Icon-6.svg" alt="" class="connect__right-icon">
        <p class="connect__right-info">hello@littlelearners.com</p>
      </li>
      <li class="connect__right-contact">
        <img src="assets/images/Icon-7.svg" alt="" class="connect__right-icon">
        <p class="connect__right-info">+91 91813 23 2309</p>
      </li>
      <li class="connect__right-contact">
        <img src="assets/images/Icon-8.svg" alt="" class="connect__right-icon">
        <p class="connect__right-info">Somewhere in the World</p>
      </li>
      <li class="connect__right-contact">
        <img src="assets/images/Icon-37.svg" alt="" class="connect__right-icon">
        <p class="connect__right-info">Office Hours - 9am - 6 pm</p>
      </li>
    </ul>
  </div>
</section>