<section id="discovery" class="discovery container-1820">
  <img src="assets/images/Abstract Design.png" alt="" class="discovery__image">
  <div class="discovery__left">
    <p class="discovery__left-info">Enriching Student Life</p>
    <h2 class="discovery__left-title">Embracing Learning with Discovery and Joy</h2>
  </div>
  <p class="discovery__text">Welcome to our Student Life page, where the magic of childhood comes alive through the enriching experiences and adventures that our students embark on each day. At our kindergarten school, we believe that learning goes beyond textbooks, and we strive to create a holistic and engaging environment that nurtures every aspect of a child's development.</p>
</section>