<section id="events" class="events container-1590">
  <aside class="events__aside">
    <p class="events__aside-top">Our Features</p>
    <h2 class="events__aside-title">Events & Celebrations</h2>
    <p class="events__aside-text">At Little Learners Academy, we celebrate every milestone and create cherished memories for our students. Throughout the year, we host a variety of events and celebrations that bring the entire school community together. Some of our memorable events include</p>
  </aside>
  <ul class="events__cards">
    <li class="events__card">
      <img src="assets/images/Image-32.png" alt="" class="events__card-image">
      <p class="events__card-title">Annual Sports Day</p>
      <p class="events__card-text">A day filled with friendly competition, team spirit, and sportsmanship.</p>
    </li>
    <li class="events__card">
      <img src="assets/images/Image-33.png" alt="" class="events__card-image">
      <p class="events__card-title">Cultural Festivals</p>
      <p class="events__card-text">Celebrations of diverse cultural festivals, promoting cultural exchange and appreciation.</p>
    </li>
    <li class="events__card">
      <img src="assets/images/Image-34.png" alt="" class="events__card-image">
      <p class="events__card-title">Art Exhibitions</p>
      <p class="events__card-text">Showcasing our students' artistic talents through exhibitions and displays.</p>
    </li>
    <li class="events__card">
      <img src="assets/images/Image-35.png" alt="" class="events__card-image">
      <p class="events__card-title">Science Fair</p>
      <p class="events__card-text">A platform for budding scientists to present their innovative projects and experiments.</p>
    </li>
    <li class="events__card">
      <img src="assets/images/Image-36.png" alt="" class="events__card-image">
      <p class="events__card-title">International Day</p>
      <p class="events__card-text">A vibrant celebration of our diverse community, embracing cultures from around the world.</p>
    </li>
    <li class="events__card">
      <img src="assets/images/Image-37.png" alt="" class="events__card-image">
      <p class="events__card-title">Graduation Ceremony</p>
      <p class="events__card-text">A significant milestone as our Kindergarten students prepare to embark on their academic journey.</p>
    </li>
  </ul>
</section>