<section id="faq" class="faq container-1590">
	<aside class="faq__aside">
		<p class="faq__aside-text">Solutions For The Doubts</p>
	</aside>
	<h2 class="faq__title">Frequently Asked Questions</h2>
	<p class="faq__subtitle">
		Find all the essential information you need in our FAQ section, designed to address the most frequently asked
		questions and help you make informed decisions for your child's education.
	</p>
	<ul class="faq__cards">
		<li class="faq__card active__card">
			<div class="faq__card-top">
				<p class="faq__card-question">What are the school hours at Little Learners Academy?</p>
				<div class="faq__card-plus"></div>
			</div>
			<p class="faq__card-answer">
				Our school hours are from 8:00 AM to 3:00 PM, Monday to Friday. We also offer extended care options for parents
				who need early drop-off or late pick-up.
			</p>
		</li>
		<li class="faq__card">
			<div class="faq__card-top">
				<p class="faq__card-question">Is there a uniform policy for students?</p>
				<div class="faq__card-plus"></div>
			</div>
			<p class="faq__card-answer hidden-accordion">
				Our school hours are from 8:00 AM to 3:00 PM, Monday to Friday. We also offer extended care options for parents
				who need early drop-off or late pick-up.
			</p>
		</li>
		<li class="faq__card">
			<div class="faq__card-top">
				<p class="faq__card-question">What extracurricular activities are available for students?</p>
				<div class="faq__card-plus"></div>
			</div>
			<p class="faq__card-answer hidden-accordion">
				Our school hours are from 8:00 AM to 3:00 PM, Monday to Friday. We also offer extended care options for parents
				who need early drop-off or late pick-up.
			</p>
		</li>
		<li class="faq__card">
			<div class="faq__card-top">
				<p class="faq__card-question">What extracurricular activities are available for students?</p>
				<div class="faq__card-plus"></div>
			</div>
			<p class="faq__card-answer hidden-accordion">
				Our school hours are from 8:00 AM to 3:00 PM, Monday to Friday. We also offer extended care options for parents
				who need early drop-off or late pick-up.
			</p>
		</li>
	</ul>
</section>
