<section id="features" class="features container-1590">
  <aside class="features__aside">
    <p class="features__aside-top">Our Features</p>
    <h2 class="features__aside-title">Our Special Features</h2>
    <p class="features__aside-text">Our kinder garden school provides a nurturing and stimulating environment, fostering a love for learning that lasts a lifetime. Join us as we embark on an exciting educational journey together!</p>
  </aside>
  <ul class="features__cards">
    <li class="features__card">
      <img src="assets/images/Icon-19.svg" alt="" class="features__card-icon">
      <h3 class="features__card-title">Thematic Learning</h3>
      <p class="features__card-text">Our curriculum is centered around engaging themes that capture children's imaginations. Each theme integrates multiple subjects, making learning enjoyable and relevant.</p>
    </li>
    <li class="features__card">
      <img src="assets/images/Icon-20.svg" alt="" class="features__card-icon">
      <h3 class="features__card-title">STEAM Education</h3>
      <p class="features__card-text">We offer innovative STEAM (Science, Technology, Engineering, Arts, and Mathematics) programs that promote hands-on exploration, critical thinking, and problem-solving skills.</p>
    </li>
    <li class="features__card">
      <img src="assets/images/Icon-21.svg" alt="" class="features__card-icon">
      <h3 class="features__card-title">Language Immersion</h3>
      <p class="features__card-text">Through language immersion programs, children have the opportunity to learn a second language, enhancing cognitive development and global awareness.</p>
    </li>
    <li class="features__card">
      <img src="assets/images/Icon-22.svg" alt="" class="features__card-icon">
      <h3 class="features__card-title">Art and Creativity</h3>
      <p class="features__card-text">Art is celebrated at Little Learners Academy. Our art-focused activities encourage self-expression, creativity, and the appreciation of various art forms.</p>
    </li>
    <li class="features__card">
      <img src="assets/images/Icon-23.svg" alt="" class="features__card-icon">
      <h3 class="features__card-title">Outdoor Education</h3>
      <p class="features__card-text">Our expansive outdoor learning spaces provide a stimulating environment for children to explore nature, fostering a connection with the environment.</p>
    </li>
    <li class="features__card">
      <img src="assets/images/Icon-24.svg" alt="" class="features__card-icon">
      <h3 class="features__card-title">Play-Based Learning</h3>
      <p class="features__card-text">Play is an integral part of early childhood education. Our play-based approach enhances social skills, emotional development, and imaginative thinking.</p>
    </li>
  </ul>
</section>