<footer class="footer container-1820">
	<div class="footer__1lvl">
		<div class="footer__info">
			<img src="assets/images/Logo.svg" alt="" class="footer__info-logo" />
			<p class="footer__info-text">
				We believe in the power of play to foster creativity, problem-solving skills, and imagination.
			</p>
			<ul class="footer__info-list">
				<li class="footer__info-item">
					<img src="assets/images/Icon-6.svg" class="footer__item-icon" />
					<p class="footer__item-text">hello@littlelearners.com</p>
				</li>
				<li class="footer__info-item">
					<img src="assets/images/Icon-7.svg" alt="" class="footer__item-icon" />
					<p class="footer__item-text">+91 91813 23 2309</p>
				</li>
				<li class="footer__info-item">
					<img src="assets/images/Icon-8.svg" alt="" class="footer__item-icon" />
					<p class="footer__item-text">Somewhere in the World</p>
				</li>
			</ul>
		</div>
		<ul class="footer__lists">
			<li class="footer__lists-item">
				<ul class="footer__list">
					<a href="index.html" class="footer__list-title">Home</a>
					<li class="footer__item">
						<a href="index.html#features" class="footer__item-nav">Features </a>
					</li>
					<li class="footer__item">
						<a href="index.html#testimonial" class="footer__item-nav">Our Testimonials </a>
					</li>
					<li class="footer__item">
						<a href="index.html#faq" class="footer__item-nav">FAQ</a>
					</li>
				</ul>
			</li>
			<li class="footer__lists-item">
				<ul class="footer__list">
					<a href="about.html" class="footer__list-title">About Us</a>
					<li class="footer__item">
						<a href="about.html#mission" class="footer__item-nav">Our Mission </a>
					</li>
					<li class="footer__item">
						<a href="about.html#mission" class="footer__item-nav">Our Vission</a>
					</li>
					<li class="footer__item">
						<a href="about.html#awards" class="footer__item-nav">Awards and Recognitions </a>
					</li>
					<li class="footer__item">
						<a href="about.html#history" class="footer__item-nav">History </a>
					</li>
					<li class="footer__item">
						<a href="about.html#members" class="footer__item-nav">Teachers </a>
					</li>
				</ul>
			</li>
			<li class="footer__lists-item">
				<ul class="footer__list">
					<a href="academics.html" class="footer__list-title">Academics</a>
					<li class="footer__item">
						<a href="academics.html#features" class="footer__item-nav">Special Features </a>
					</li>
					<li class="footer__item">
						<a href="academics.html#gallery" class="footer__item-nav">Gallery </a>
					</li>
				</ul>
			</li>
			<li class="footer__lists-item">
				<ul class="footer__list">
					<a href="contact.html" class="footer__list-title">Contact Us</a>
					<li class="footer__item">
						<a href="contact.html#connect" class="footer__item-nav">Information </a>
					</li>
					<li class="footer__item">
						<a href="contact.html#" class="footer__item-nav">Map & Direction</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="footer2lvl">
		<ul class="footer2lvl__documents">
			<li class="footer2lvl__document"><a href="#" class="footer2lvl__document-link">Terms of Service</a></li>
			<li class="footer2lvl__document"><a href="#" class="footer2lvl__document-link">Privacy Policy</a></li>
			<li class="footer2lvl__document"><a href="#" class="footer2lvl__document-link">Cookie Policy</a></li>
		</ul>
		<ul class="footer2lvl__social-list">
			<li class="footer2lvl__social-item">
				<a href="#" class="footer2lvl__social-link"
					><img src="assets/images/Icon-9.svg" alt="" class="footer2lvl__social-icon"
				/></a>
			</li>
			<li class="footer2lvl__social-item">
				<a href="#" class="footer2lvl__social-link"
					><img src="assets/images/Icon-10.svg" alt="" class="footer2lvl__social-icon"
				/></a>
			</li>
			<li class="footer2lvl__social-item">
				<a href="#" class="footer2lvl__social-link"
					><img src="assets/images/Icon-11.svg" alt="" class="footer2lvl__social-icon"
				/></a>
			</li>
		</ul>
	</div>
	<div class="footer2lvl__copyright">
		<p class="footer2lvl__copyright-text">Copyright © [2023] Little Learners Academy. All rights reserved.</p>
	</div>
</footer>
