<section id="gallery" class="gallery container-1590">
	<aside class="gallery__aside">
		<p class="gallery__aside-top">Our Gallery</p>
		<h2 class="gallery__aside-title">Our Rooms Gallery</h2>
		<p class="gallery__aside-text">
			Step into our Gallery and immerse yourself in a visual journey of cherished moments and unforgettable experiences
			at our kindergarten school.
		</p>
		<ul class="gallery__aside-list">
			<li class="gallery__aside-item active">
				<p class="gallery__aside-category">All</p>
			</li>
			<li class="gallery__aside-item">
				<p class="gallery__aside-category">Classrooms</p>
			</li>
			<li class="gallery__aside-item">
				<p class="gallery__aside-category">Library</p>
			</li>
			<li class="gallery__aside-item">
				<p class="gallery__aside-category">Science Lab</p>
			</li>
			<li class="gallery__aside-item">
				<p class="gallery__aside-category">Computer Lab</p>
			</li>
			<li class="gallery__aside-item">
				<p class="gallery__aside-category">Garden and Nature Area</p>
			</li>
		</ul>
	</aside>
	<ul class="gallery__classes">
		<li class="gallery__class">
			<ul class="gallery__class-images">
				<li class="gallery__class-image">
					<img src="assets/images/Image-12.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-13.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-14.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-15.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-12.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-13.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-14.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-15.png" alt="" />
				</li>
			</ul>
			<div class="gallery__class-top">
				<h3 class="gallery__class-title">Classrooms</h3>
				<div class="gallery__class-buttons">
					<button class="gallery__class-button">
						<img src="assets/images/Icon-17.svg" alt="" class="gallery-class-arrow" />
					</button>
					<button class="gallery__class-button">
						<img src="assets/images/Icon-18.svg" alt="" class="gallery-class-arrow" />
					</button>
				</div>
			</div>
			<p class="gallery__class-text">
				Our well-equipped classrooms are designed to provide a nurturing and stimulating learning environment. Each
				classroom is thoughtfully arranged to inspire creativity, curiosity, and engagement.
			</p>
		</li>
		<li class="gallery__class">
			<ul class="gallery__class-images">
				<li class="gallery__class-image">
					<img src="assets/images/Image-16.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-17.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-18.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-19.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-16.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-17.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-18.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-19.png" alt="" />
				</li>
			</ul>
			<div class="gallery__class-top">
				<h3 class="gallery__class-title">Library</h3>
				<div class="gallery__class-buttons">
					<button class="gallery__class-button">
						<img src="assets/images/Icon-17.svg" alt="" class="gallery-class-arrow" />
					</button>
					<button class="gallery__class-button">
						<img src="assets/images/Icon-18.svg" alt="" class="gallery-class-arrow" />
					</button>
				</div>
			</div>
			<p class="gallery__class-text">
				Our expansive library is a treasure trove of books, fostering a love for reading and supporting students' literacy
				development.
			</p>
		</li>
		<li class="gallery__class">
			<ul class="gallery__class-images">
				<li class="gallery__class-image">
					<img src="assets/images/Image-20.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-21.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-22.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-23.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-20.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-21.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-22.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-23.png" alt="" />
				</li>
			</ul>
			<div class="gallery__class-top">
				<h3 class="gallery__class-title">Science Lab</h3>
				<div class="gallery__class-buttons">
					<button class="gallery__class-button">
						<img src="assets/images/Icon-17.svg" alt="" class="gallery-class-arrow" />
					</button>
					<button class="gallery__class-button">
						<img src="assets/images/Icon-18.svg" alt="" class="gallery-class-arrow" />
					</button>
				</div>
			</div>
			<p class="gallery__class-text">
				Our hands-on science lab allows students to conduct experiments and explore scientific concepts in a fun and
				interactive way.
			</p>
		</li>
		<li class="gallery__class">
			<ul class="gallery__class-images">
				<li class="gallery__class-image">
					<img src="assets/images/Image-24.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-25.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-26.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-27.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-24.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-25.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-26.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-27.png" alt="" />
				</li>
			</ul>
			<div class="gallery__class-top">
				<h3 class="gallery__class-title">Computer Lab</h3>
				<div class="gallery__class-buttons">
					<button class="gallery__class-button">
						<img src="assets/images/Icon-17.svg" alt="" class="gallery-class-arrow" />
					</button>
					<button class="gallery__class-button">
						<img src="assets/images/Icon-18.svg" alt="" class="gallery-class-arrow" />
					</button>
				</div>
			</div>
			<p class="gallery__class-text">
				Equipped with age-appropriate technology, the computer lab enhances students' digital literacy and computational
				skills
			</p>
		</li>
		<li class="gallery__class">
			<ul class="gallery__class-images">
				<li class="gallery__class-image">
					<img src="assets/images/Image-28.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-29.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-30.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-31.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-28.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-17.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-30.png" alt="" />
				</li>
				<li class="gallery__class-image">
					<img src="assets/images/Image-31.png" alt="" />
				</li>
			</ul>
			<div class="gallery__class-top">
				<h3 class="gallery__class-title">Garden and Nature Area</h3>
				<div class="gallery__class-buttons">
					<button class="gallery__class-button">
						<img src="assets/images/Icon-17.svg" alt="" class="gallery-class-arrow" />
					</button>
					<button class="gallery__class-button">
						<img src="assets/images/Icon-18.svg" alt="" class="gallery-class-arrow" />
					</button>
				</div>
			</div>
			<p class="gallery__class-text">
				Our garden and nature area offer an opportunity for children to connect with nature and learn about plants and
				the environment.
			</p>
		</li>
	</ul>
</section>
