<header id="header" class="header container-1820">
	<img src="assets/images/Logo.svg" alt="" class="header__logo" />
  <ul class="header__nav-list">
    <li class="heder__nav-item active"><a href="index.html" class="header__nav-link ">Home</a></li>
    <li class="heder__nav-item"><a href="about.html" class="header__nav-link">About Us</a></li>
    <li class="heder__nav-item"><a href="academics.html" class="header__nav-link">Academics</a></li>
    <li class="heder__nav-item"><a href="admission.html" class="header__nav-link">Admissions</a></li>
    <li class="heder__nav-item"><a href="student.html" class="header__nav-link">Student Life</a></li>
    <li class="heder__nav-item contact-nav"><a href="contact.html" class="header__nav-link ">Contact</a></li>
  </ul>
</header>
