<section id="information" class="information container-1590">
	<aside class="information__aside">
		<p class="information__aside-info">Contact Form</p>
		<h2 class="information__aside-title">Student Information</h2>
		<p class="information__aside-text">
			If you have specific questions or wish to request more information about Little Learners Academy, please complete
			the contact form below. Kindly provide the following details to help us better understand your needs
		</p>
	</aside>
	<form action="" class="information__form">
		<div class="information__form-buttons">
			<button class="information__form-button">
				<img src="assets/images/Icon-9.svg" alt="" class="information__form-icon" />
			</button>
			<button class="information__form-button">
				<img src="assets/images/Icon-10.svg" alt="" class="information__form-icon" />
			</button>
			<button class="information__form-button">
				<img src="assets/images/Icon-11.svg" alt="" class="information__form-icon" />
			</button>
		</div>
    <ul class="information__form-inputList">
      <li class="information__form-inputItem">
        <p class="information__form-top">Parent Name</p>
        <input type="text" class="information__form-input" placeholder="Enter Parent Name">
      </li>
      <li class="information__form-inputItem">
        <p class="information__form-top">Email Address</p>
        <input type="email" class="information__form-input" placeholder="Enter Email Address">
      </li>
      <li class="information__form-inputItem">
        <p class="information__form-top">Phone Number</p>
        <input type="number" class="information__form-input" placeholder="Enter Phone Number">
      </li>
      <li class="information__form-inputItem">
        <p class="information__form-top">Student Name</p>
        <input type="text" class="information__form-input" placeholder="Enter Student Name">
      </li>
      <li class="information__form-inputItem">
        <p class="information__form-top">Student Age</p>
        <input type="text" class="information__form-input" placeholder="Enter Student Age">
      </li>
      <li class="information__form-inputItem">
        <p class="information__form-top">Program of Intrest</p>
        <div class="select__wrapper">
          <select name="program" id="program" class="information__form-select">
            <option class="information__form-option">Select Program</option>
            <option class="information__form-option">Select Program</option>
            <option class="information__form-option">Select Program</option>
          </select>
        </div>
      </li>
    </ul>
    <div class="information__form-message">
      <p class="information__form-top">Message</p>
      <textarea class="information__form-input" placeholder="Enter your Message" name="" id=""></textarea>
    </div>
    <button class="information__form-submit">Submit</button>
	</form>
</section>
