<section id="learners" class="learners container-1820">
  <img src="assets/images/Abstract Design.png" alt="" class="learners__image">
  <div class="learners__left">
    <p class="learners__left-top">Admission</p>
    <h2 class="learners__left-title">Join Our Family of Young Learners</h2>
  </div>
  <p class="learners__text">At Little Learners Academy, we welcome you to embark on an exciting educational journey for your child. Our admission process is designed to be transparent, straightforward, and inclusive. Here's a step-by-step guide to joining our school</p>
</section>