<section id="learn" class="learn container-1590">
  <aside class="learn__aside">
    <p class="learn__aside-top">Our Features</p>
    <h2 class="learn__aside-title">What Students Learn</h2>
    <p class="learn__aside-text">At Little Learners Academy, we strive to cultivate a love for learning and equip children with essential skills for their future success. Our academic programs cover a wide range of subjects, allowing students to develop a strong foundation and discover their interests. Some key areas of learning include</p>
  </aside>
  <ul class="learn__cards">
    <li class="learn__card">
      <img src="assets/images/Image-6.png" alt="" class="learn__card-image">
      <h3 class="learn__card-title">Language Arts</h3>
      <p class="learn__card-text">Reading, writing, storytelling, and communication skills.</p>
    </li>
    <li class="learn__card">
      <img src="assets/images/Image-7.png" alt="" class="learn__card-image">
      <h3 class="learn__card-title">Mathematics</h3>
      <p class="learn__card-text">Number sense, basic operations, problem-solving, and logic.</p>
    </li>
    <li class="learn__card">
      <img src="assets/images/Image-8.png" alt="" class="learn__card-image">
      <h3 class="learn__card-title">Science</h3>
      <p class="learn__card-text">Exploring the natural world through hands-on experiments and investigations.</p>
    </li>
    <li class="learn__card">
      <img src="assets/images/Image-9.png" alt="" class="learn__card-image">
      <h3 class="learn__card-title">Social Studies</h3>
      <p class="learn__card-text">Cultivating an understanding of diverse cultures and communities.</p>
    </li>
    <li class="learn__card">
      <img src="assets/images/Image-10.png" alt="" class="learn__card-image">
      <h3 class="learn__card-title">Arts and Crafts</h3>
      <p class="learn__card-text">Encouraging creativity through various art forms and crafts.</p>
    </li>
    <li class="learn__card">
      <img src="assets/images/Image-11.png" alt="" class="learn__card-image">
      <h3 class="learn__card-title">Physical Education</h3>
      <p class="learn__card-text">Promoting physical fitness, coordination, and teamwork.</p>
    </li>
  </ul>
</section>