<section id="navigate" class="navigate container-1590">
  <aside class="navigate__aside">
    <p class="navigate__aside-text">Explore More</p>
  </aside>
  <h2 class="navigate__title">Navigate through our Pages</h2>
  <p class="navigate__subtitle">Your gateway to discovering a wealth of valuable information about our kindergarten school, Feel free to explore and learn more about the enriching experiences that await your child at our kindergarten school</p>
  <ul class="navigate__cards">
    <li class="navigate__card">
      <p class="navigate__card-title">About Us</p>
      <img src="assets/images/Container-1.svg" alt="" class="navigate__card-line">
      <p class="navigate__card-text">Discover our Mission, Values, and our unwavering commitment to providing the best learning experience for your child. Learn about our passionate educators and our engaging approach to early education.</p>
      <button class="navigate__card-button">Learn More <img src="assets/images/Icon-18.svg" alt="" class="navigate__card-arrow"></button>
    </li>
    <li class="navigate__card">
      <p class="navigate__card-title">Academics</p>
      <img src="assets/images/Container-1.svg" alt="" class="navigate__card-line">
      <p class="navigate__card-text">Delve into our comprehensive academic programs designed to stimulate young minds, foster creativity, and encourage a love for learning. Explore our well-rounded curriculum that nurtures both intellectual and social development.</p>
      <button class="navigate__card-button">Learn More <img src="assets/images/Icon-18.svg" alt="" class="navigate__card-arrow"></button>
    </li>
    <li class="navigate__card">
      <p class="navigate__card-title">Student Life</p>
      <img src="assets/images/Container-1.svg" alt="" class="navigate__card-line">
      <p class="navigate__card-text">Peek into the vibrant and enriching world of Student Life at Little Learners Academy. Discover the array of extracurricular activities, arts and crafts, sports, and social events that make our school experience truly memorable.</p>
      <button class="navigate__card-button">Learn More <img src="assets/images/Icon-18.svg" alt="" class="navigate__card-arrow"></button>
    </li>
    <li class="navigate__card">
      <p class="navigate__card-title">Admissions</p>
      <img src="assets/images/Container-1.svg" alt="" class="navigate__card-line">
      <p class="navigate__card-text">Learn about our Enrollment Process and how to secure your child's place at Little Learners Academy. Find information about our admission requirements, application deadlines, and available spaces.</p>
      <button class="navigate__card-button">Learn More <img src="assets/images/Icon-18.svg" alt="" class="navigate__card-arrow"></button>
    </li>
  </ul>
</section>