<section id="nurturing" class="nurturing container-1820">
  <img src="assets/images/Abstract Design.png" alt="" class="nurturing__image">
  <div class="nurturing__left">
    <p class="nurturing__aside">Academics</p>
    <h2 class="nurturing__title">Nurturing Young Minds for Success</h2>
  </div>
  <p class="nurturing__text">Welcome to our Academics page, where we take pride in providing a comprehensive and stimulating educational experience for your child. Our kindergarten school's academic program is thoughtfully designed to foster a love for learning while building a strong foundation of essential skills and knowledge. From language arts and mathematics to science and social studies, our curriculum is carefully crafted to spark curiosity and encourage active exploration.</p>
</section>