<section id="structure" class="structure container-1590">
	<aside class="structure__aside">
		<p class="structure__aside-top">Our Features</p>
		<h2 class="structure__aside-title">Fee Structure</h2>
		<p class="structure__aside-text">
			Our fee structure is transparent, and we strive to keep our fees competitive within the education sector. The fees
			vary based on the program, age group, and any additional services chosen.
		</p>
	</aside>
	<div class="structure__table-program">
		<ul class="structure__table-list">
			<li class="structure__table-item">
				<p class="structure__table-text">Program</p>
			</li>
			<li class="structure__table-item">
				<p class="structure__table-text">Age Group</p>
			</li>
			<li class="structure__table-item">
				<p class="structure__table-text">Annual Tuition</p>
			</li>
			<li class="structure__table-item">
				<p class="structure__table-text">Registration Fee</p>
			</li>
			<li class="structure__table-item">
				<p class="structure__table-text">Activity Fee</p>
			</li>
		</ul>
		<div class="table">
			<table class="structure__table">
				<tr class="structure__table-row">
					<td class="structure__table-value">Nursery</td>
					<td class="structure__table-value">2 - 3 Years</td>
					<td class="structure__table-value">$1,686</td>
					<td class="structure__table-value">$162</td>
					<td class="structure__table-value">$12</td>
				</tr>
				<tr class="structure__table-row">
					<td class="structure__table-value">Pre - Kindergartens</td>
					<td class="structure__table-value">3 - 4 Years</td>
					<td class="structure__table-value">$2,686</td>
					<td class="structure__table-value">$220</td>
					<td class="structure__table-value">$16</td>
				</tr>
				<tr class="structure__table-row">
					<td class="structure__table-value">Kindergarten</td>
					<td class="structure__table-value">4 - 5 Years</td>
					<td class="structure__table-value">$3,686</td>
					<td class="structure__table-value">$340</td>
					<td class="structure__table-value">$20</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="structure__table-additional">
		<h3 class="structure__table-title">Additional Services</h3>
		<div class="table">
      <table class="structure__table">
        <tr class="structure__table-row">
          <td class="structure__table-value">Before and After-School Care</td>
          <td class="structure__table-value">$120 / per month</td>
        </tr>
        <tr class="structure__table-row">
          <td class="structure__table-value">Language Immersion Program</td>
          <td class="structure__table-value">$60 / per semester</td>
        </tr>
        <tr class="structure__table-row">
          <td class="structure__table-value">Transportation (optional)</td>
          <td class="structure__table-value">$80 / per month</td>
        </tr>
      </table>
    </div>
	</div>
</section>
