<section id="support" class="support container-1590">
  <aside class="support__aside">
    <p class="support__aside-top">Our Achievements</p>
    <h2 class="support__aside-title">Student Support</h2>
    <p class="support__aside-text">At Little Learners Academy, we are committed to providing a supportive and nurturing environment that meets the unique needs of each student. Our student support services include</p>
  </aside>
  <ul class="support__cards">
    <li class="support__card">
      <img src="assets/images/Icon-31.svg" alt="" class="support__card-icon">
      <h3 class="support__card-title">Counseling</h3>
      <p class="support__card-text">Professional counselors offer guidance and support to students, addressing their emotional and social well-being.</p>
    </li>
    <li class="support__card">
      <img src="assets/images/Icon-32.svg" alt="" class="support__card-icon">
      <h3 class="support__card-title">Learning Support</h3>
      <p class="support__card-text">Our educators provide additional assistance to students who may require extra support in their academic journey.</p>
    </li>
    <li class="support__card">
      <img src="assets/images/Icon-33.svg" alt="" class="support__card-icon">
      <h3 class="support__card-title">Parent-Teacher Collaboration</h3>
      <p class="support__card-text">We foster a strong partnership with parents to ensure seamless communication and mutual support in a child's development.</p>
    </li>
  </ul>
</section>