<section id="testimonial" class="testimonial container-1590">
	<aside class="testimonial__aside">
		<p class="testimonial__aside-text">Their Happy Words 🤗</p>
	</aside>
	<h2 class="testimonial__title">Our Testimonials</h2>
	<p class="testimonial__subtitle">
		Our testimonials are heartfelt reflections of the nurturing environment we provide, where children flourish both
		academically and emotionally.
	</p>
	<ul class="testimonial__cards">
		<img src="assets/images/Icon-17.svg" alt="" class="testimonial__arrow" />
		<li class="testimonial__card">
			<img src="assets/images/Iconavatar_.png" alt="" class="testimonial__card-avatar" />
      <p class="testimonial__card-name">Jennifer B</p>
      <div class="testimonial__card-ratting">
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
      </div>
			<p class="testimonial__card-text">Little Learners Academy has been a second home for my child. The caring staff and engaging programs have made her excited to go to school every day!</p>
		</li>
		<li class="testimonial__card">
			<img src="assets/images/Iconavatar_-1.png" alt="" class="testimonial__card-avatar" />
      <p class="testimonial__card-name">David K</p>
      <div class="testimonial__card-ratting">
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
      </div>
			<p class="testimonial__card-text">Choosing Little Learners Academy for my daughter was the best decision. She has thrived in their nurturing and stimulating environment.</p>
		</li>
		<li class="testimonial__card">
			<img src="assets/images/Iconavatar_-2.png" alt="" class="testimonial__card-avatar" />
      <p class="testimonial__card-name">Emily L</p>
      <div class="testimonial__card-ratting">
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
        <img src="assets/images/Shape.svg" alt="" class="testimonial__card-shape" />
      </div>
			<p class="testimonial__card-text">My son's social and academic growth has been remarkable since joining Little Learners Academy. I am grateful for the supportive and dedicated teachers.</p>
		</li>
    <img src="assets/images/Icon-18.svg" alt="" class="testimonial__arrow" />
	</ul>
</section>
