<aside id="welcome" class="welcome container-1820">
  <img src="assets/images/Abstract Design.png" alt="" class="welcome__image">
  <div class="welcome__left">
    <p class="welcome__info">Overview</p>
    <h2 class="welcome__title">Welcome to Little Learners Academy</h2>
  </div>
  <p class="welcome__text">A leading kinder garden school dedicated to providing a nurturing and stimulating environment for young learners. With a commitment to excellence in early education, we believe in shaping curious minds and building a strong foundation for a lifelong love of learning. Our holistic approach fosters intellectual, social, emotional, and physical development, ensuring that each child reaches their full potential.</p>
</aside>
